<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
	bootstrap="tests/_bootstrap.php" backupGlobals="false" verbose="true">
	<testsuites>
		<testsuite name="SmartBot">
			<directory>tests/suites/</directory>
			<!-- <directory suffix="Test.php" phpVersion="5.5.13" phpVersionOperator=">=">tests/suites/</directory> -->
			<!-- <file>tests/suites/UtilsTest.php</file> -->
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory>vendor</directory>
		</blacklist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml" />
		<log type="junit" target="build/logs/junit.xml"
			logIncompleteSkipped="false" />
	</logging>
</phpunit>